* {
    box-sizing: border-box;
    padding: 0;
    margin-top: 0;
}

body {
    background: #eee;
    margin: 0;
}

header {
    width: 100%;
    background: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
}

.container h1 {
    margin: 0;
}

#header-img {
    font-size: 25px;
    width: 300px;
}

#nav-bar ul li a {
    display: block;
    text-align: center;
    margin: 5px 0;
    color: #000;
    text-decoration: none;
    font-size: 17px;
}

.container {
    text-align: center;
    margin-top: 140px;
}

#email {
    padding: 10px;
    width: 300px;
    margin: 20px;
}

#submit {
    background: yellow;
    outline: none;
    border: none;
    padding: 10px 12px;
    font-size: 17px;
    line-height: 1;
}

#howitworks {
    max-width: 450px;
    margin: 0 auto;
}

#how-it-works iframe {
    width: 100%;
}

.product {
    border: 1px solid black;
    text-align: center;
    border-radius: 3px;
    width: 100%;
    max-width: 300px;
    margin: 15px auto;
}

#features {
    text-align: center;
}

ol {
    list-style: none;
    font-size: 20px;
}

h2 {
    font-weight: bold;
    margin: 15px 0;
}

#howitworks iframe {
    text-align: center;
    width: 100%;
    max-width: 100%;
}

#selectbutton {
    padding: 7px;
    width: 100px;
    background: yellow;
    cursor: pointer;
    border-radius: 3px;
    text-transform: uppercase;
    border: none;
    margin: 10px 0;
    font-weight: bold;
}

@media(min-width: 550px) {
    .pricing {
        display: flex;
        margin: 10px 15px;
    }
    #features {
        text-align: left;
        margin-left: 10px;
    }
}

@media(min-width:600px) {
    header {
        display: flex;
        padding: 20px 25px;
    }
    #nav-bar {
        margin-left: 100px;
        padding: 0 30px;
    }
    li {
        list-style: none;
    }
    .logo {
        align-self: center;
    }
    #howitworks {
        max-width: 560px;
    }
}

@media(min-width:650px) {
    header {
        justify-content: space-around;
    }
    #nav-bar {
        display: flex;
        justify-content: space-around;
        width: 50%;
        padding: 0;
        margin: 0;
    }
    #nav-bar a {
        flex: 1;
    }
    #nav-bar a:not(:last-of-type) {
        margin-right: 12px;
    }
    #nav-bar ul{
        display: flex;
        margin-left: 30px;

    }
}

@media(min-width:800px) {
    #product {
        width: 96%;
        display: flex;
        margin: 20px auto;
    }
    .product:not(:last-of-type) {
        margin-right: 25px;
    }
    #features {
        width: 85%;
        margin: 0 auto;
    }
    #nav-bar {
        display: flex;
        
    }
    #nav-bar ul li a {
        margin-left: 30px;
        font-size: 20px;
    }

}

@media(min-width:1024px) {
    .product {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
    }
}